<!-- Encabezado -->
<div class="container">
  <div class="container__card">
    <img
      class="container__image"
      src="../../../assets/puntosColombia_logo.jpeg"
      alt="logo"
    />
    <div class="container__content">
      <p class="container__title">
        Tienes 3.116 Puntos Colombia <br /><span class="container__subtitle"
          >Saldo al 23-dic-2021</span
        >
      </p>
    </div>
  </div>

  <!-- Cabecera -->
  <div class="header">
    <div class="header__sentence">
      <p class="header__title">
        CON <br />
        PUNTOS COLOMBIA <br />
        <strong>#NAVEGASEGURO</strong>
      </p>
      <div class="header__figure">
        <img
          class="header__image"
          src="../../../assets/foto1.png"
          alt="foto content"
        />
      </div>
    </div>
  </div>

  <!--Contenido -->
  <div class="content">
    <h2 class="content__title">Hola, Gustavo</h2>
    <h3 class="content__paragraph">
      Tu seguridad y la de tus Puntos Colombia es muy importante para nosotros,
      por eso te damos unos tips para que disfrutes tus días a punta de Puntos
    </h3>
  </div>

  <div class="warning">
    <div class="warning__image">
      <img
        class="warning__img"
        src="../../../assets/Warning.png"
        alt="warning"
      />
    </div>
    <div class="warning__card">
      <h2 class="warning__title">!Ten en cuenta¡</h2>
      <p class="warning__subtitle">
        En Puntos Colombia jamás te contactaremos para pedirte datos personales
        o confidenciales por ningún medio.
      </p>
    </div>
  </div>

  <!-- Como proteger tus datos -->
  <div class="protect">
    <div class="protect__header">¿Cómo proteger tus datos y tus Puntos?</div>
    <div class="protect__nav-image">
      <img
        class="protect__nav-img"
        src="../../../assets/callcenter.png"
        alt="callcenter"
      />
    </div>
    <div class="protect__nav-text">
      <p>
        No te llamaremos a solicitar información como:
        <strong
          >usuario, clave dinámica, código de seguridad y códigos de
          verificación.</strong
        >
        Si recibes una llamada solicitando esta información, cuelga y no la
        entregues por ningún motivo.
      </p>
    </div>
    <div class="protect__cellphone">
      <img src="../../../assets/cellphone.png" alt="celular" />
    </div>
    <div class="protect__cellphone-text">
      Si llegas a ser contactado por mensaje de texto, WhatsApp o mail,
      <strong>recuerda no entregar información.</strong>
    </div>
    <div class="protect__safe">
      <img src="../../../assets/secure.png" alt="seguridad" />
    </div>
    <div class="protect__safe-text">
      Cuida tus Puntos Colombia con la clave dinámica que encuentras en nuestra
      app. Esta clave es para tu uso personal.
    </div>
    <div class="protect__footer">
      <p class="protect__footer-title">
        ¡En Puntos Colombia estamos comprometidos con tu seguridad!
      </p>
      <p class="protect__footer-subtitle">
        Recuerda que nuestras líneas oficiales de atención son
        <span>01 8000 423 600</span> y Whatsapp <span>(300) 912 0488</span>
      </p>
    </div>
  </div>
  <hr />

  <!-- dudas -->
  <div class="doubt">
    <h2 class="doubt__title">¿Tienes dudas?</h2>
    <a
      href="https://ayuda.puntoscolombia.com/hc/es-419?utm_aliado=PCO&utm_source=Marca&utm_medium=Email&utm_campaign=CDA-Footer"
      target="_blank"
      class="doubt__nowmore"
      >Conoce más</a
    >
    <p class="doubt__contact">
      01 8000 423 600 <br />
      <strong>WhatsApp o línea móvil</strong> <br />(300) 912 0488
    </p>
    <a href="www.puntoscolombia.com" target="_blank" class="doubt__url"
      >www.puntoscolombia</a
    >
  </div>

  <!--Redes Sociales -->
  <div class="social">
    <a href="https://www.facebook.com/PuntosColombia" target="_blank"
      ><img src="../../../assets/facebook.png" alt="facebook"
    /></a>
    <a href="https://twitter.com/puntoscolombia" target="_blank"
      ><img src="../../../assets/twitter.png" alt="twitter"
    /></a>
    <a href="https://www.instagram.com/puntoscolombia/" target="_blank"
      ><img src="../../../assets/instagram.png" alt="instagram"
    /></a>
    <a
      href="https://www.youtube.com/channel/UCjBEa4rF_bP5x5kd9ALXgiw"
      target="_blank"
      ><img src="../../../assets/youtube.png" alt="youtube"
    /></a>
  </div>

  <!-- politica -->
  <div class="policy">
    <p>
      <a href="https://www.puntoscolombia.com/personas/inicio" target="_blank"
        >Autorización tratamiento datos personales</a
      >
      |
      <a href="https://www.puntoscolombia.com/personas/inicio" target="_blank"
        >Política de privacidad</a
      >
      |
      <a href="https://www.puntoscolombia.com/personas/inicio" target="_blank"
        >Reglamento del programa</a
      >
    </p>
  </div>

  <hr />
</div>
