<!-- Encabezado-->
<div class="container">
  <div class="container__card">
    <img
      class="container__image"
      src="../../../assets/puntosColombia_logo.jpeg"
      alt="logo"
    />
    <div class="container__content">
      <p class="container__title">
        Tienes 3.116 Puntos Colombia <br /><span class="container__subtitle"
          >Saldo al 23-dic-2021</span
        >
      </p>
    </div>
  </div>

  <!-- Contenido-->
  <div class="header">
    <div class="header__sentence">
      <p class="header__title">
        CON <br />
        PUNTOS COLOMBIA <br />
        <strong>#NAVEGASEGURO</strong>
      </p>
      <div class="header__figure">
        <img
          class="header__image"
          src="../../../assets/foto1.png"
          alt="foto content"
        />
      </div>
    </div>
  </div>

  <!--Content-->
  <div class="content">
    <h2 class="content__title">Hola, Gustavo</h2>
    <h3 class="content__paragraph">
      Tu seguridad y la de tus Puntos Colombia es muy importante para nosotros,
      por eso te damos unos tips para que disfrutes tus días a punta de Puntos
    </h3>
  </div>

  <div class="warning">
    <div class="warning__image">
      <img
        class="warning__img"
        src="../../../assets/Warning.png"
        alt="warning"
      />
    </div>
    <div class="warning__card">
      <h2 class="warning__title">!Ten en cuenta¡</h2>
      <p class="warning__subtitle">
        En Puntos Colombia jamás te contactaremos para pedirte datos personales
        o confidenciales por ningún medio.
      </p>
    </div>
  </div>
</div>
