<div class="container">
  <div class="container__image">
    <img class="container__logo" src="../../../assets/Uber.png" alt="Uber" />
  </div>
  <div class="header">
    <img class="header__logo" src="../../../assets/uber2.png" alt="Uber2" />
  </div>

  <div class="title">
    <p class="title__header">Modo celebrando-nuestras-aventuras-del-2021.</p>
    <p class="title__subheader">
      Gracias por elegir a Uber para hacer que este año se sintiera un poco más
      cercano a lo normal. Mira debajo algunos de nuestros momentos especiales.
    </p>
  </div>

  <div class="newyear">
    <img class="newyear__img" src="../../../assets/2021.png" alt="2021 Year" />
  </div>
  <div class="newyear__symbol">
    <img class="newyear__sym" src="../../../assets/symbol.png" alt="symbol" />
  </div>

  <div class="content">
    <p class="content__title">
      Este 2021 tuvimos muchos momentos para disfrutar.
    </p>
    <p class="content__subtitle">
      Toma una captura de pantalla y usa #ModoUber2021 para compartir tus
      mejores momentos.
    </p>
  </div>

  <!-- Imagenes -->
  <div class="grid">
    <div class="grid__trips">
      <img
        class="grid__trips-img"
        src="../../../assets/trips.png"
        alt="trips"
      />
      <div>
        <p>
          Hiciste 30 viajes con la app de Uber. Tú marcaste el camino pero te
          ayudamos a conseguir a alguien detrás del volante.
        </p>
      </div>
    </div>
    <div class="grid__map"><img src="../../../assets/map.png" alt="map" /></div>
    <div class="grid__watch"><img src="" alt="" /></div>
    <div class="grid__car"><img src="" alt="" /></div>
    <div class="grid__keys"><img src="" alt="" /></div>
    <div class="grid__calendar"><img src="" alt="" /></div>
  </div>
</div>
